// @import "./fonts.scss";
@import '@fontsource/pt-serif';
@import '@fontsource-variable/rubik';

$body-bg-color: #fff;
$bg-black: #292929;
$bg-color: #173049;
$blue-first: #173049;
$blue-second: #009CF0;
$red: #D04847;
$gray: #8F8F8F;
$main-color: #173049;
$hover-color: #D04847;

$main-font: Rubik Variable;
$second-font: PTSerif;

$font-size: 20px;

$line-height: 24px;

$max-width: 1503;